#cs1300-gallery {
  /* background-color: lightblue; */
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/


.hero-wrapper{
  /* flex: auto; */
  width: 80px;
  /* background-color: aquamarine; */
}

.hero-image{
  flex: auto;
}


#opener{
  /* display: flex;. */
  align-items: stretch-center;
  flex-flow: row wrap; 
  justify-content: space-around;
  padding-top: 2.5%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2.5%;

}
.center {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  /* transform: translate(0, -50%); */
}

img {
  display: flex;
  float: top;
  justify-content: space-around;
  width:  65%;
  /* height: 700px; */
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

 
p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: inherit;
  color:#282c34;
 }



h1{
  font-size: 200%;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

h3{
  margin-top: 15%;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

h6{
  /* padding-top: 0; */
  margin-bottom: 80px;
  margin-top: 0;
  font-size: 600%;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}


h5{
  /* padding-top: 0; */
  margin-bottom: 0px;
  margin-top: 80px;
  font-size: 300%;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

p {
  font-weight: 300;
  margin-bottom: 1em;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


li {
  color:#282c34;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: .3em;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

ol{
  color:#282c34;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.column-two {
  float: left;
  width: 50%;
  /* padding: 30px; */
}

.column-three {
  float: left;
  width: 27%;

  padding: 3%;
}

.break{
  padding-bottom: 200px;
  /* background-color: blue; */
}

.header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#column-wrapper{
  flex:auto
  
}

.buffer{
  scroll-padding: 100%;
}

#comparison{ 
  display: flex;
  /* align-items: stretch-center; */
  flex-flow: row wrap; 
  /* justify-content: space-around; */
  padding-top: 2.5%; 
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2.5%;
}